{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-syntax-flow",
    "transform-class-properties",
    "transform-object-rest-spread",
    "react-flow-props-to-prop-types",
    ["@babel/plugin-transform-runtime", {
      "corejs": 2,
      "regenerator": true
    }],
    "@babel/plugin-transform-flow-strip-types"
  ],
  "env": {
    "test": {
      "plugins": [
        "require-context-hook",
      ]
    }
  }
}
